/*
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  FW_primer = "CCAGCAGCYGCGGTAAN" // -g - 5’ adapter  (front), forwardPrimer
  RV_primer = "CCGTCAATTCNTTTRAGT" //["CCGTCAATTCNTTTRAGT", "CCGTCAATTTCTTTGAGT", "CCGTCTATTCCTTTGANT"] // -G


  // Defines all parameters that are independent of a test run
  // Trimming
  params.trimFor = false
  params.trimRev = false
  params.truncFor = 0
  params.truncRev = 0
  params.maxEEFor = 2
  params.maxEERev = 2
  params.truncQ = 2  // Phred
  params.maxN = 0
  params.maxLen = false
  params.minLen = false


}

