/*
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  outdir = './results'
  FW_primer = "CCAGCAGCYGCGGTAAN" // -g - 5’ adapter  (front), forwardPrimer
  RV_primer = "CCGTCAATTCNTTTRAGT" //["CCGTCAATTCNTTTRAGT", "CCGTCAATTTCTTTGAGT", "CCGTCTATTCCTTTGANT"] // -G


  // Defines all parameters that are independent of a test run
  trunc_qmin = 25 //to calculate params.trunclenf and params.trunclenr automatically
  trunc_rmin = 0.75 //to calculate params.trunclenf and params.trunclenr automatically
  trunclenf = false
  trunclenr = false
  metadata_category = false
  retain_untrimmed = false
  exclude_taxa = "mitochondria,chloroplast"


}

