/*
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  reads = "$baseDir/DATA/raw/*.{R1,R2}.fastq"
  outdir = "$baseDir/OUT/"

  FW_primer = " -g CCAGCAGCYGCGGTAAN" // -g - 5’ adapter  (front), forwardPrimer
  RV_primer = " -G CCGTCAATTCNTTTRAGT -G CCGTCAATTTCTTTGAGT -G CCGTCTATTCCTTTGANT" // -G

  trimFor = false
  trimRev = false
  truncFor = 0
  truncRev = 0
  maxEEFor = 2
  maxEERev = 2
  truncQ = 2  // Phred
  maxN = 0
  maxLen = false
  minLen = false

}


process {
    executor = 'local'
    queue = 'short'
    memory = '5 GB'
    cpus = 4
}

// add profiles for local / docker / awsbatch


